@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&display=swap');
.bg {
    max-height: 1080px;
    max-width: 1920px;
    position: relative;
}
.circle {
    position: fixed;
    left: 33%;
    bottom: 0.2%;
    height: 100%;
}
.logo {
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 3%;
}
.wordbox1-and-input {
    position: fixed;
    top: 35%;
    padding: 3%;
    font-family: 'Libre Franklin', sans-serif;
}
.text1 {
    font-weight: 700;
    font-size: x-large;
}
.text2 {
    font-weight: 400;
    font-size: x-large;
}
form {
    position: fixed;
    width: 992px;
    right: 0%;
    top: 40.8%;
}
input {
    position: absolute;
    left: 30%;
    width: 400px;
    height: 50px;
    padding: 0 3% 0 3%;
    border-width: thin;
    border-radius: 200px;
}
::placeholder {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    font-size: large;
    color: black;
}
.email {
    position: absolute;
    bottom: 100%;
}
.email2 {
    position: absolute;
    top: 116%;
}
.password2 {
    position: absolute;
    top: 207%;
}
.signinsignupforgot {
    position: fixed;
    width: 992px;
    right: -1.5%;
    top: 40.8%;
}
.textbanner {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
    font-size: xx-large;
    color: black;
    position: absolute;
    left: 30%;
    top: -800%;
}
.signup {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    color: black;
    position: absolute;
    left: 30%;
    top: 1140%;
}
a {
    color: black;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #3FA9F5;
}
a:visited {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
.link1 {
    font-weight: 700;
}
button {
    width: 200px;
    height: 70px;
    border: none;
    border-radius: 200px;
    background-color: #3FA9F5;
    color: white;
    position: absolute;
    bottom: -700px;
    right: 2.5%;
    font-size: larger;
}
button:hover {
    background-color: #83BFEA;
}
button:active {
    background-color: #3C9FE6;
}