<!-- <app-header></app-header> -->
<!-- Challenge with Operation page -->
<section>
    <div>
        <h1>Challenge with operation</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. lukla dfobne jada kohler teamiong <br>Dolorum explicabo fugit debitis.Voluptatem, reprehenderit.Vitae voluptatum at ipsam quam <br>enim corporis reprehenderit mollitia exercitationem necessitatibus officia dolore expedita.</p>
        <h5>Why do we do it?</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. lukla dfobne jada kohler teamiong <br>Dolorum explicabo fugit debitis.Voluptatem, reprehenderit.Vitae voluptatum at ipsam quam <br>enim corporis reprehenderit mollitia exercitationem necessitatibus officia dolore expedita.</p>
        <h5>Where does it come from?</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. lukla dfobne jada kohler teamiong <br>Dolorum explicabo fugit debitis.Voluptatem, reprehenderit.Vitae voluptatum at ipsam quam <br>enim corporis reprehenderit mollitia exercitationem necessitatibus officia dolore expedita.</p>
        <main class="option">
        <h3>Was this article helpful?</h3>
        <button type="button" id="bool" >Yes</button>
        <button type="button" id="bool" >No</button>
        <p>20,000 of 50,000 found this helpful</p>
        </main>
    </div>
    <div class="order">
        <h4>Similar Articles</h4>
        <a href="#">Challenge with operation</a><br>
        <a href="#">Challenge with operation</a><br>
        <a href="#">Challenge with operation</a><br>
        <a href="#">Challenge with operation</a>
    </div>
</section>
<!-- <app-footer></app-footer> -->