<!-- Third step -->
<body>
    <div class="haven-logo">
        <a routerLink="/"><img class="logo" src="../../../../assets/images/havenDesktopLogo.png" alt="Haven logo"></a>
    </div>
    <div>
        <img class= "circle" src="../../../assets/images/signin circle.png">
      </div>  
    <form id="regForm" action="/action_page.php" >
        <div class="merge">
            <h2>Let your fund-raising<br>journey begin!</h2>
            <p>We've made it easy for you.</p>
        </div>
        <!-- One "tab" for each step in the form: -->
        <div class="flex-items">
            <div class="tab">
                <label>How much do you need</label><br>
                <input type="number" placeholder="" oninput="this.className = ''" name="amount"><br>
                <label>Website</label><br>
                <input  type="url" placeholder="" oninput="this.className = ''" name="nn"><br>
                <label>Social Media</label><br>
                <input type="text"  placeholder="Facebook" oninput="this.className = ''" name="fb"><br>
                <input type="text"  placeholder="Twitter" oninput="this.className = ''" name="Twitter"><br>
                <input type="text"  placeholder="Instagram" oninput="this.className = ''" name="Insta"><br>
            </div>
            <div class="continue">
                <button routerLink="" type="button" id="nextBtn">Submit</button>
            </div>
        <!-- Circles which indicates the steps of the form: -->
        <div class="steps">
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
        </div>
       </div>
      </form>
</body>