<div class="category-container">
  <div class="container-fluid navbar py-4 px-5">

    <!-- left-side list-items inner-container  -->
    <ul class="col-sm-4 navbar-nav d-flex justify-content-around flex-row">
        <li class="menuBtn nav-item">
          <a class="nav-link" href="#"><img src="assets/images/icons/favorite.svg">
            <p>Favorites</p>
          </a>
        </li>
        <li class="menuNavBtn nav-item d-flex flex-column justify-content-center">
          <a class="nav-link disabled" href="#"><img src="assets/images/icons/blue_chevron_left.svg"></a>
        </li>
    </ul>

    <!-- middle list-items inner-container  -->
    <ul class="categoryMenu col-sm-4 navbar-nav d-flex justify-content-between align-items-center flex-row">
        <li class="menuBtn nav-item">
          <a class="nav-link" href="#"><img src="assets/images/icons/trending.svg" style="width:33px">
            <p>Trending</p>
          </a>
        </li>
        <li class="menuBtn nav-item">
          <a class="nav-link" href="#"><img src="assets/images/icons/religious_building.svg">
            <p>Religious</p>
          </a>
        </li>
        <li class="menuBtn nav-item">
          <a class="nav-link" href="#"><img src="assets/images/icons/bike.svg">
            <p>Sports</p>
          </a>
        </li>
        <li class="menuBtn activeBtn nav-item d-flex justify-content-between">
          <a class="nav-link" href="#"><img src="assets/images/icons/paw_print_selected.svg">
            <p>Wildlife</p>
          </a>
        </li>
    </ul>

    <!-- right-side list-items inner-container  -->
    <ul class="col-sm-4 navbar-nav d-flex justify-content-around flex-row flex-row-reverse pe-3">
        <li class="menuBtn nav-item">
          <a class="nav-link" href="#"><img src="assets/images/icons/foot_prints.svg">
            <p>Individuals</p>
          </a>
        </li>
        <li class="menuNavBtn nav-item d-flex flex-column justify-content-center">
          <a class="nav-link" href="#"><img src="assets/images/icons/blue_chevron_right.svg"></a>
        </li>
    </ul>
  </div>
</div>