<div class="cardContainer card border-0 text-decoration-none">
    <img [src]="'assets/images/' + charity.title + '_tn.png'" alt="{{ 'Photo of ' + charity.title }}">
    <div class="card-img-overlay align-items-center d-flex flex-row-reverse pe-4">
      <i class="bi bi-heart-fill mt-4"></i>
    </div><!-- heart container -->
    <div class="cardBody mt-3">
      <h4>{{ charity.title }}</h4>
      <p class="mt-1">{{ charity.detail }}</p>
    </div><!-- title and details container -->
</div><!-- card body-->