@import 'src/styles';

.charityImage {
    width: 100%;
    border-radius: 5px;
}

.favoriteIconwrapper {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.151);
    .liked-color {
        color: red;
    }
      
    .unliked-color {
        color: white;
    }
}

.cardBody {
    h4 {
        color: $blackFontColor;
        font-size: $navLinkFontSize;
    }
    p {
        text-align: justify;
        line-height: 1.1rem;
        color: $paragraphFontColor;
        font-size: $smallFont-size;
    } 
}