@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&display=swap');
.flexcontainer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    position: relative;
}
.imglogo {
    position: fixed;
    top: 0%;
    padding: 2%;
    left: 43.6%;
}
.imgline {
    position: Fixed;
    bottom: 0%;
}
.text1-input-button {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 40%;
}
.text1 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    font-size: x-large;
}
input {
    width: 550px;
    height: 50px;
    padding: 0 3% 0 3%;
    border-width: thin;
    border-radius: 200px;
}
::placeholder {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    font-size: large;
    color: black;
    position:absolute;
    left: 5.7%;
    top: 25%;
}
button {
    width: 200px;
    height: 70px;
    border: none;
    border-radius: 200px;
    background-color: #3FA9F5;
    color: white;
    position: relative;
    top: 50px;
    font-size: larger;
}
button:hover {
    background-color: #83BFEA;
}
button:active {
    background-color: #3C9FE6;
}
.text2 {
    position: fixed;
    bottom: 10%;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    font-size: large;
}
a {
    font-weight: 700;
    color: black;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #3FA9F5;
}
a:visited {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}