<div class="flexcontainer">
    <a routerLink=""><img class= "imglogo" src="../../../assets/images/havenDesktopLogo.png" width="187px"></a>
    <img class= "imgline" src="../../../assets/images/Squigly line for forgot password.png" height="350px" width="100%">
    <div class="text1-input-button">
        <p class="text1">
            Enter the email associated with your account and we will<br>
            send you a link to reset your password.
        </p>
        <input type="text" placeholder="Email"><br>
        <button>Continue</button>
    </div>
    <p class="text2">
                If you don't have an account 
                <a routerLink="/auth/sign-up">sign up</a>
    </p>
</div>   