<app-header></app-header>
<div class="container-fluid d-flex profile_container px-5">
    <div class="main ps-3">
        <div class="main_wrapper">
            <img src="/assets/images/charity_profile_img.png" class="img-fluid">
            <h4 class="pt-4">THE IREDE FOUNDATION</h4>
            <p class="pt-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type 
                specimen book. It has survived not only five centuries, but also the leap into 
                electronic typesetting, remaining essentially unchanged. It was popularized in 
                the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                and more recently with desktop publishing software like Aldus PageMaker including 
                versions of Lorem Ipsum.
            </p>
            <div class="detailsWrapper mt-5">
                <h4 class="mb-4">Details of Participants</h4>
                <div class="row">
                    <ul>
                        <li><img src="assets/images/icons/name.png">Name</li>
                        <li><img src="assets/images/icons/position.png">Position</li>
                        <li><img src="assets/images/icons/location.png">Location</li>
                        <li><img src="assets/images/icons/contact.png">Contact</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="minor pe-3 d-flex justify-content-end">
        <div class="stickySideBar d-flex flex-column align-item-center text-center sticky-top mt-2">
            <p><b>Raised  ₦500,000</b> of   ₦1,000,000 naira goal</p>
            <p>1k donations</p>
            <button>see donations</button>
            <button class="ctaBtn">DONATE</button>
            <button class="ctaBtn">SHARE</button>
            <ul>
                <li><a href="#"><img src="assets/images/icons/facebook.png"></a></li>
                <li><a href="#"><img src="assets/images/icons/twitter.png"></a></li>
                <li><a href="#"><img src="assets/images/icons/instagram.png"></a></li>
            </ul>
        </div>
    </div>
</div>
<app-footer></app-footer>