<<<<<<< HEAD

  body {
    margin: 80px 0;
    position: absolute;
    background: url("../../../../assets/img/signin circle.png") no-repeat 400% 0% fixed;
    font-family: "Libre Franklin", sans-serif, "Libre Baskerville", serif;
    padding: 25px 80px;
  }
  .logo {
    width: 10%;
    padding: 15px 0;
  }
  form{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
  }
 
  .merge{
    display: flex; 
    align-items: left;
    flex-direction: column;
    margin-top: 30px;

  }
  .flex-items{
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    
    
  }
  h2{
    font-size: 18px;
    font-weight: 800;

  }
  p{
    padding: 10px 0;
    font-size: 16px;
  }
  a{
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    color: #000;
  }
  label{
    font-weight: 600;
    font-size: 16px;
    
  }
  select{
    border-radius: 25px;
    font-size: 18px;
    border: 0.5px solid rgba(0, 0, 0, 0.493);
    padding: 6px 77px;
    margin: 8px 0;
    outline: none;

  }
  option{
    font-size: 13px;
    background: beige;
    outline: none;
  }
 
  
  input{
    border: 1px solid rgba(0, 0, 0, 0.493);
    border-radius: 25px;
    margin: 8px 0;
    font-size: 18px;
    padding: 5px 20px;
    outline: none;

  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button{
    -webkit-appearance: none;
     margin: 0;
  }
  
  textarea{
    margin: 8px 0;
    border: 0.5px solid rgba(0, 0, 0, 0.493);
    font-size: 12px;
    padding: 5px 10px;
    letter-spacing: 0.5px;
    outline: none;

  }


  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: beige;
  }
  select.invalid {
    background-color: beige;
  }
  textarea.invalid {
    background-color: beige;
  }
  
  
  /* Hide all steps by default: */
  
  
  button {
    background: #3FA9F5;
    border: 0.5px solid rgba(0, 0, 0, 0.493);
    border-radius: 25px;
    color: #ffffff;
    padding: 7px 20px;
    font-size: 17px;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  .continue{
      margin: 45px 0 0 0;
      align-self: flex-end;
  }
  #prevBtn {
    background-color: #bbbbbb;
  }
  .steps{
    margin-top: 40px;
  }
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 10px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 20%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }

@media (min-width:400px) and (max-width:968px){
    .logo {
        width: 25%;
        padding: 20px 0;
    }
    form{
        display: block;
    }
    label{
        font-weight: 700;
        font-size: 14px;
        
    }
    .merge{
        display: block;
    }
    .flex-items{
        display: block;
    }
}
=======

  body {
    margin: 80px 0;
    position: absolute;
    background: url("../../../../assets/img/signin circle.png") no-repeat 400% 0% fixed;
    font-family: "Libre Franklin", sans-serif, "Libre Baskerville", serif;
    padding: 25px 80px;
  }
  .logo {
    width: 10%;
    padding: 15px 0;
  }
  form{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
  }
 
  .merge{
    display: flex; 
    align-items: left;
    flex-direction: column;
    margin-top: 30px;

  }
  .flex-items{
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    
    
  }
  h2{
    font-size: 18px;
    font-weight: 800;

  }
  p{
    padding: 10px 0;
    font-size: 16px;
  }
  a{
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    color: #000;
  }
  label{
    font-weight: 600;
    font-size: 16px;
    
  }
  select{
    border-radius: 25px;
    font-size: 18px;
    border: 0.5px solid rgba(0, 0, 0, 0.493);
    padding: 6px 77px;
    margin: 8px 0;
    outline: none;

  }
  option{
    font-size: 13px;
    background: beige;
    outline: none;
  }
 
  
  input{
    border: 1px solid rgba(0, 0, 0, 0.493);
    border-radius: 25px;
    margin: 8px 0;
    font-size: 18px;
    padding: 5px 20px;
    outline: none;

  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button{
    -webkit-appearance: none;
     margin: 0;
  }
  
  textarea{
    margin: 8px 0;
    border: 0.5px solid rgba(0, 0, 0, 0.493);
    font-size: 12px;
    padding: 5px 10px;
    letter-spacing: 0.5px;
    outline: none;

  }


  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: beige;
  }
  select.invalid {
    background-color: beige;
  }
  textarea.invalid {
    background-color: beige;
  }
  
  
  /* Hide all steps by default: */
  
  
  button {
    background: #3FA9F5;
    border: 0.5px solid rgba(0, 0, 0, 0.493);
    border-radius: 25px;
    color: #ffffff;
    padding: 7px 20px;
    font-size: 17px;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  .continue{
      margin: 45px 0 0 0;
      align-self: flex-end;
  }
  #prevBtn {
    background-color: #bbbbbb;
  }
  .steps{
    margin-top: 40px;
  }
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 10px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 20%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }

@media (min-width:400px) and (max-width:968px){
    .logo {
        width: 25%;
        padding: 20px 0;
    }
    form{
        display: block;
    }
    label{
        font-weight: 700;
        font-size: 14px;
        
    }
    .merge{
        display: block;
    }
    .flex-items{
        display: block;
    }
}
>>>>>>> b6e1d86f903b08e3b9222f3b686a18740d79e60b
