<div class="bg">
    <img class= "logo" src="../../../assets/img/havenDesktopLogo.png" alt="Haven" width="120px">
    <img class= "circle" src="../../../assets/img/signin circle.png">
    <div class="wordbox1-and-input">
        <p class="text1">
        Let your fundraising<br>
        journey begin!<br>
        </p>
        <p class="text2">
        We've made it easy for you.
        </p>
        <form>
            <input class="email" type="text" placeholder="Email"><br>
            <input class="password" type="password" placeholder="password"><br>
        </form>
    </div>
    <div class="signinsignupforgot">
        <p class="signin">Sign in</p><br>
        <p class="signup">
            If you don't have an account 
            <a class="link1" href="/src/app/pages/sign-up/sign-up.component.html">sign up</a><br>
            <a class="link2" href="/src/app/pages/forgotpwd/forgotpwd.component.html">Forgot password?</a>
        </p>
    </div>
    <button>Continue</button>
</div>
