<!-- cause card -->
<a href="#" class="card border-0 text-decoration-none">
    <img class="card-img-top" src="assets/img/african_boy.png" alt="how your donations used in Ukraine">
    <div class="card-img-overlay align-items-center d-flex flex-row-reverse pe-4">
      <img src="assets/img/icons/red_heart.svg">
    </div>
    <div class="card-body">
      <h4 class="card-title">Help the children of Ukraine</h4>
      <p class="card-text">We explain what's at stake, what lies behind Russia's thinking and what might 
        happen next. Register today to read our...
      </p>
    </div>
</a>