<!-- beginning of my project -->
<div class="container">
  <div class="background mt-4">
    <div class="minlogo"><img src="../../../assets/images/havenDesktopLogo.png" alt="" width="70px">
     <div class="text"> <h1 style="font-size:50px"><strong>Congratulations</strong></h1>
        <h3>You're a step further to completing your goal!</h3>
        <div class="buttons">
          <button class="button1 px-5 rounded-pill py-3">View</button>
          <button class="button2 px-5 rounded-pill py-3">Share</button>
        </div>
      </div>
    </div>
  </div>
</div>