<app-header></app-header>
<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
    </div>
    
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/slides/how_your_donations_benefit_children_in_the_Philipines.jpg" alt="how your donations benefit children in the Philipines" class="img-slide d-block">
      </div>
      <div class="carousel-item">
        <img src="assets/img/slides/how_your_donations_benefit_children_in_Nigeria.jpeg" alt="how your donations benefit children in Nigeria" class="img-slide d-block">
      </div>
      <div class="carousel-item">
        <img src="assets/img/slides/how_your_donations_used_in_Ukraine.jpg" alt="how your donations used in Ukraine" class="img-slide d-block">
      </div>
      <div class="carousel-item">
        <img src="assets/img/slides/how_your_donations_are_putting_a_smile_on_the_faces_of_DRC_children.jpg" alt="how your donations are putting a smile on the faces of DRC children" class="img-slide d-block">
      </div>
    </div>
    
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>

</div>

<!-- call-to-action-buttons (ctaBtn) container -->
<div class="ctaBtn-container container-fluid py-3 px-5">
  <div class="col-sm-12 w-75 d-flex justify-content-between m-auto p-4">
    <button class="ctaBtn rounded-pill btn px-5 py-3 btn-lg">Create Cause</button>
    <button class="ctaBtn rounded-pill btn px-5 py-3 btn-lg">Make Donation</button>
  </div>
</div>

<!-- steps to donate container -->
<div class="donateStep-container container-fluid d-flex flex-column align-items-center mb-5 py-5 px-5">
  <h1 class="d-flex text-uppercase py-5 mb-2">Transform a life today</h1>

  <div class="container-fluid d-flex justify-content-between mt-5">
    
    <!-- step one -->
    <div class="card col-sm-4 border border-0">
      <img class="card-img-top" src="assets/img/icons/blue_circle.png">
      <div class="d-flex flex-column justify-content-center card-img-overlay mt-5 ps-5">
        <h3 class="card-title">Spark the lighter</h3>
        <p class="card-text">Create an account</p>
      </div>
    </div>

    <!-- step two -->
    <div class="card col-sm-4 border border-0">
      <img class="card-img-top" src="assets/img/icons/blue_circle.png">
      <div class="d-flex flex-column justify-content-center card-img-overlay mt-5 ps-5">
        <h3 class="card-title">Look for needs</h3>
        <p class="card-text">We will guide you</p>
      </div>
    </div>

    <!-- step three -->
    <div class="card col-sm-4 border border-0">
      <img class="card-img-top" src="assets/img/icons/pink_circle.png">
      <div class="d-flex flex-column justify-content-center card-img-overlay mt-5 ps-5">
        <h3 class="card-title">Change lives</h3>
        <p class="card-text">Find a passion to sponsor</p>
      </div>
    </div>

  </div>
</div>

<!-- category container -->
<div id="category-containers" class="category-container">
  <div class="container-fluid navbar py-4 px-5">

    <!-- left-side list-items inner-container  -->
    <ul class="col-sm-4 navbar-nav d-flex justify-content-around flex-row">
        <li class="menuBtn nav-item">
          <a class="nav-link" href="#"><img src="assets/img/icons/favorite.svg">
            <p>Favorites</p>
          </a>
        </li>
        <li class="menuNavBtn nav-item d-flex flex-column justify-content-center">
          <a class="nav-link disabled" href="#"><img src="assets/img/icons/blue_chevron_left.svg"></a>
        </li>
    </ul>

    <!-- middle list-items inner-container  -->
    <ul class="categoryMenu col-sm-4 navbar-nav d-flex justify-content-between align-items-center flex-row">
        <li class="menuBtn nav-item">
          <a class="nav-link" href="#"><img src="assets/img/icons/trending.svg" style="width:33px">
            <p>Trending</p>
          </a>
        </li>
        <li class="menuBtn nav-item">
          <a class="nav-link" href="#"><img src="assets/img/icons/religious_building.svg">
            <p>Religious</p>
          </a>
        </li>
        <li class="menuBtn nav-item">
          <a class="nav-link" href="#"><img src="assets/img/icons/bike.svg">
            <p>Sports</p>
          </a>
        </li>
        <li class="menuBtn activeBtn nav-item d-flex justify-content-between">
          <a class="nav-link" href="#"><img src="assets/img/icons/paw_print_selected.svg">
            <p>Wildlife</p>
          </a>
        </li>
    </ul>

    <!-- right-side list-items inner-container  -->
    <ul class="col-sm-4 navbar-nav d-flex justify-content-around flex-row flex-row-reverse pe-3">
        <li class="menuBtn nav-item">
          <a class="nav-link" href="#"><img src="assets/img/icons/foot_prints.svg">
            <p>Individuals</p>
          </a>
        </li>
        <li class="menuNavBtn nav-item d-flex flex-column justify-content-center">
          <a class="nav-link" href="#"><img src="assets/img/icons/blue_chevron_right.svg"></a>
        </li>
    </ul>

  
</div>

  <!-- causes card container -->
  <div class="causes-container">
    <!-- cause card -->
    <div class="d-flex justify-content-between">
      <app-cause-card></app-cause-card>
      <app-cause-card></app-cause-card>
      <app-cause-card></app-cause-card>
      <app-cause-card></app-cause-card>
    </div>

    <!-- cause card -->
    <div class="d-flex justify-content-center align-items-center pt-4">
      <app-cause-card></app-cause-card>
      <app-cause-card></app-cause-card>
      <app-cause-card></app-cause-card>
      <app-cause-card></app-cause-card>
    </div>
  </div>

</div>

<!-- our story -->
<div class="ourStory-container">
  <h1 class="pb-4">OUR STORY</h1>
  <h3 class="pt-4">What we do is <span>simple</span></h3>
  <h3>we make it easier for you to make the world a better place!</h3>
  <p class="mt-4">
    It is a long established fact that a reader will be distracted by the 
    readable content of a page when looking at its layout. The point of 
    using Lorem Ipsum is that it has a more-or-less normal distribution of 
    letters, as opposed to using 'Content here, content here. making it look 
    like readable English. Many desktop publishing packages and web page 
    editors now use Lorem Ipsum as their default model text, and a search for 
    'lorem ipsum' will uncover many web sites still in their infancy. 
  </p>
</div>

<!-- meet the team -->
<div class="meetTeam-container d-flex flex-column align-items-center">
  <h1>MEET THE TEAM RESPONSIBLE</h1>
  <h3>We are dedicated to making the world better!</h3>

  <div class="teamDetails d-flex justify-content-between m-auto">
    <div>
      <img src="./assets/img/adenike_magret1.jpeg" alt="Adenike Magaret">
      <h3>Adenuga Adenike</h3>
      <p><a href="tel:+2347011684833">+234 701 168 4833</a></p> 
    </div>
    
    <div>
      <img src="./assets/img/joshua_obi.jpeg" alt="Joshua Obi">
      <h3>Joshua Obi</h3>
      <p><a href="tel:+2347087870270">+234 708 787 0270</a></p> 
    </div>

    <div>
      <img src="./assets/img/Oloruntobi_Ogundosumu_A_Fullstack_Developer.jpg" alt="Ogundosumu Oloruntobi Ayodele">
      <h3>Oloruntobi Ogundosumu A.</h3>
      <p><a href="tel:+2348104630366">+234 810 463 0366</a></p> 
    </div>

    <div>
      <img src="./assets/img/ayodeji_ogunremi.jpg" alt="Ayodeji Ogunremi">
      <h3>Ayodeji Ogunremi M.</h3>
      <p><a href="tel:+2348105120765">+234 810 512 0765</a></p> 
    </div>
  </div>
  
</div>
<app-footer></app-footer>