@use '@angular/material' as mat;
@include mat.core();

// primary blue color
$nh-bluePalette: (
    50 : #e8f5fe,
    100 : #c5e5fc,
    200 : #9fd4fa,
    300 : #79c3f8,
    400 : #5cb6f7,
    500 : #3fa9f5,
    600 : #39a2f4,
    700 : #3198f2,
    800 : #298ff0,
    900 : #1b7eee,
    A100 : #ffffff,
    A200 : #eef5ff,
    A400 : #bbd9ff,
    A700 : #a1cbff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// accent red color
$nh-redPalette: (
    50 : #ffe7e8,
    100 : #ffc4c6,
    200 : #ff9da0,
    300 : #ff757a,
    400 : #ff585e,
    500 : #ff3a41,
    600 : #ff343b,
    700 : #ff2c32,
    800 : #ff252a,
    900 : #ff181c,
    A100 : #ffffff,
    A200 : #fffdfd,
    A400 : #ffcacb,
    A700 : #ffb1b2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// warn orange color
$nh-orangePalette: (
    50 : #fff3e5,
    100 : #ffe2bd,
    200 : #ffcf92,
    300 : #febb66,
    400 : #fead45,
    500 : #fe9e24,
    600 : #fe9620,
    700 : #fe8c1b,
    800 : #fe8216,
    900 : #fd700d,
    A100 : #ffffff,
    A200 : #fff9f5,
    A400 : #ffd9c2,
    A700 : #ffc8a8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// for light theme
$nh-primary: mat.define-palette($nh-bluePalette, 500);
$nh-accent: mat.define-palette($nh-redPalette, 500);
$nh-warn: mat.define-palette($nh-orangePalette, 500);

// nav menu buttons
$nh-navBtn: mat.define-palette($nh-bluePalette, A100);

// white background color
$bgWhite: #ffffff;

$nh-theme: mat.define-light-theme((color: (primary: $nh-primary, accent: $nh-accent, warn: $nh-warn, navBtn: $nh-navBtn)));
@include mat.all-component-themes($nh-theme);

// for dark-mode theme
$nh-primary-dark: mat.define-palette(mat.$blue-grey-palette, 900);
$nh-accent-dark: mat.define-palette(mat.$light-blue-palette, 800);
$nh-warn-dark: mat.define-palette(mat.$red-palette);

$nh-theme-dark: mat.define-dark-theme((color: (primary: $nh-primary-dark, accent: $nh-accent-dark, warn: $nh-warn-dark)));
.dark-theme-mode {
    @include mat.all-component-themes($nh-theme-dark);
}

a, ul, li, body, h1, h2, h3, h4, h5, p {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

// margins
.mb-6 {
    margin-bottom: 6.5rem;
} 
.me-6 {
    margin-right: 1.9rem;
}
.ms-6 {
    margin-left: 4rem;
}

// variables
$myFont: 'Roboto', sans-serif; 

// font-sizes
$smallFont-size: .9rem;
$primaryFontSize: .95rem;
$navLinkFontSize: 1rem;
$secondaryFontSize: 1.2rem;
$tertiaryFontSize: 1.4rem;
$subHeading: 1.5rem;

// font-colors
$paragraphFontColor: #525d68;
$blackFontColor: #000000;
$redFontColor: #ff1d25;
$whiteFontColor: #ffffff;
$blueFontColor: #3FA9F5;

// background-colors
$whiteBgColor: #ffffff;
$transparentRedBgColor: #ff1d25c7;
$redBgColor: #ff1d25;
$offWhiteBgColor: #f1f0f0bd;
$menuBtnBgHover: #ffffff23;
$transparentBlueBgColor: hsla(205, 90%, 60%, 0.8);
$blueBgColor: #3FA9F5;
$blackBgColor: #000000;
$cardBoxShadow: rgb(0 0 0 / 30%);
$btnBoxShadow: rgba(0, 0, 0, 0.507);

// border colors
$primaryBorderColor: #839bb1;
$whiteBorder: #ffffff;
$redBorderColor: #ff1d25;
$blueBorderColor: #3FA9F5;
$blackBorderColor: #000000;
$grayBorderColor: #f1f0f0bd;

// header height
$headerHeight: 18vh;
$headerHeight: 120px;

// mixins (functions)
@mixin myH1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 5rem;
    color: $blueFontColor;
}
@mixin myH2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 2rem;
    color: $blueFontColor;
}
@mixin myH3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    color: $blackFontColor;
}
@mixin myH4 {
    font-size: 1.5rem;
    font-weight: 700;
    // line-height: 2rem;
    color: $blackFontColor;
}
@mixin roundBtn { 
    display: flex;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $whiteBgColor;
    img {
        width: 8px;
    }
}
@mixin category-icon { 
    display: flex;
    width: 80px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    img {
        width: 40px;
    }
    p {
        color: $whiteFontColor;
        padding-top: 10px;
    }
}
@mixin dropdown {
    position: absolute;
    width: 250px;
    border-radius: 10px;
    background-color: $transparentBlueBgColor;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.164);
}
@mixin dropdownArrow {
    content: "";
    position: absolute;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid $transparentBlueBgColor;
}
@mixin whiteBorder {
    border-bottom: 1px solid $whiteBorder;
}
@mixin redBorder {
    border: 1px solid $redBorderColor;
}
@mixin blueBorder {
    border-bottom: 1px solid $blueBorderColor;
}
@mixin greyBorder {
    border: 1px solid $primaryBorderColor;
}
@mixin blackBorder {
    border-bottom: 1px solid $blackBorderColor;
}
// box-shadows
@mixin btnBoxShadow {
    box-shadow: 0px 0px 2px $btnBoxShadow;
}
@mixin btnBoxShadowHover {
    box-shadow: 0px 0px 4px $redBgColor;
}
// html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }