<footer class="container-fluid">
    <div class="d-flex upperFooter">
        <div class="footerLogo col-sm-2">
            <a routerLink="/"><img src="assets/images/haven_mobile_white_logo.png" class="" alt="Haven mobile white logo"></a>
        </div>
        <div class="col-sm-4">
            <ul class="nav">
                <li class="nav-item">
                    <a href="#" class="nav-link">F.A.Q.</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">How to sign in</a>
                </li> 
                <li class="nav-item">
                    <a href="#" class="nav-link">How to make a donation</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">How to create a cause</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Benefits of creating a profile</a>
                </li> 
                <li class="nav-item">
                    <a href="#" class="nav-link">What's special about Haven</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">My profile is not updating</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-3">
            <ul class="nav">
                <li class="nav-item">
                    <a href="#" class="nav-link">Resources</a>
                </li>
                <li class="nav-item">
                    <a routerLink="" class="nav-link" (click)="scrollTostory()">About</a>
                </li> 
                <li class="nav-item">
                    <a href="#" class="nav-link">Help centre</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Haven's stories</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Blog</a>
                </li> 
                <li class="nav-item">
                    <a href="#" class="nav-link">What's special about Haven</a>
                </li>
                <li class="nav-item">
                    <select class="dropdown">
                        <option value="">More resources</option>
                        <option value="">More resources</option>
                        <option value="">More resources</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="socialIcon col-sm-3">
            <ul>
                <li>
                    <a href="#"><img src="assets/images/icons/facebook_white_logo.png" alt="Facebook logo"></a>
                </li>
                <li>
                    <a href="#"><img src="assets/images/icons/twitter_white_logo.png" alt="Twitter logo"></a>
                </li>
                <li>
                    <a href="#"><img src="assets/images/icons/instagram_white_logo.png" alt="Instagram logo"></a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="bottomFooter d-flex container-fluid py-2">
        <!-- first div -->
        <div class="col-sm-2">

        </div>
        <!-- second div -->
        <div class="col-sm-4 ps-2">
            <ul class="nav">
                <li class="nav-item ps-4"> © 2010-2022 Haven</li>
            </ul>
        </div>
        <!-- third div -->
        <div class="col-sm-2">
            <ul class="nav">
                <li class="nav-item">
                    <a routerLink="/" class="nav-link">Terms</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/" class="nav-link">Privacy</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/" class="nav-link">Legal</a>
                </li>
            </ul>
        </div>
        <!-- fourth div -->
        <div class="col-sm-4"></div>
    </div>
    <button class="border-0" id="scrollTop" title="Go to top" (click)="scrollToTop()"><img src="assets/images/icons/chevron_up.svg"></button>
</footer>