@import 'src/styles';

footer {
    padding: 3% 0 0;
    font-size: $secondaryFontSize;
    background-color: $blueBgColor;
    .upperFooter {
        padding: 0 5% 2%;
        .footerLogo {
            img {
                width: 35px;
                margin-top: 9%;
            }
        }
        background: $blueBgColor url("/assets/img/icons/footer_bg.png") no-repeat 100% 100px;
        background-size: contain;
        .nav-item {
            padding: 2% 0;
            display: flex;
            flex-direction: column;
            width: 80%;
                .nav-link {
                display: flex;
                flex-direction: column;
                color: $whiteFontColor;
                padding-left: 0;
                &:hover {
                    text-decoration: underline;
                }
            }
            &:first-child {
                font-weight: 700;
            }
            select {
                color: $whiteFontColor;
                background: none;
                margin-left: -4px;
                border: none;
            }
        }
        .socialIcon {
            display: flex;
            align-items: end;
            justify-content: end;
            .nav {
                display: flex;
                height: 70%;
                align-items: center;
                justify-content: end;
                .nav-item {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                        .nav-link {
                            width: 40%;
                            padding: 10px;
                            display: flex;
                            align-items: center;
                            @include blueBorder();
                            &:hover {
                                @include whiteBorder();
                        }
                        img{
                            width: 30px;
                        }
                    }
                }
            }
        }
    }
    .bottomFooter {
        background-color: $whiteBgColor;
        & > div:first-child {
            ul {
                li {
                    text-decoration: none;
                }
            }
        }
        .nav-item {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    & > button {
        position: fixed;
        bottom: 40px;
        right: 75px;
        border-radius: 50px;
        border: none;
        padding: 5px 10px 10px 10px;
        background-color: $whiteBgColor;
        @include btnBoxShadow();
        img {
            width: 25px;
        }
    }
}