<footer class="container-fluid">
    <div class="d-flex upperFooter">
        <div class="footerLogo col-sm-2">
            <a routerLink=""><img src="assets/img/haven_mobile_white_logo.png" class="" alt="Haven mobile white logo"></a>
        </div>
        <div class="col-sm-4">
            <ul class="nav">
                <li class="nav-item">
                    <a href="#" class="nav-link">F.A.Q.</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">How to sign in</a>
                </li> 
                <li class="nav-item">
                    <a href="#" class="nav-link">How to make a donation</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">How to create a cause</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Benefits of creating a profile</a>
                </li> 
                <li class="nav-item">
                    <a href="#" class="nav-link">What's special about Haven</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">My profile is not updating</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-3">
            <ul class="nav">
                <li class="nav-item">
                    <a href="#" class="nav-link">Resources</a>
                </li>
                <li class="nav-item">
                    <a routerLink="" class="nav-link" (click)="scrollTostory()">About</a>
                </li> 
                <li class="nav-item">
                    <a href="#" class="nav-link">Help centre</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Haven's stories</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Blog</a>
                </li> 
                <li class="nav-item">
                    <a href="#" class="nav-link">What's special about Haven</a>
                </li>
                <li class="nav-item">
                    <select class="dropdown">
                        <option value="">More resources</option>
                        <option value="">More resources</option>
                        <option value="">More resources</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="socialIcon col-sm-3 pt-3">
            <ul class="nav">
                <li class="nav-item">
                    <a href="#" class="nav-link"><img src="assets/img/icons/facebook_white_logo.png" alt="Facebook logo"></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"><img src="assets/img/icons/twitter_white_logo.png" alt="Twitter logo"></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"><img src="assets/img/icons/instagram_white_logo.png" alt="Instagram logo"></a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="bottomFooter d-flex container-fluid py-2">
        <div class="col-sm-4">
            <ul class="nav d-flex justify-content-end">
                <li class="nav-item">
                    <a href="#" class="nav-link">© 2010-2022 Haven</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul class="nav d-flex justify-content-end">
                <li class="nav-item">
                    <a href="#" class="nav-link">Terms</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Privacy</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Legal</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- <button><a href=""><img src="assets/img/icons/chevron_up.svg" alt="Scroll Up"></a></button> -->
</footer>