@import 'src/styles';

footer {
    padding: 3% 0 0;
    font-size: $secondaryFontSize;
    background-color: $blueBgColor;
    .upperFooter {
        padding: 0 5% 2%;
        .footerLogo {
            img {
                width: 35px;
                margin-top: 9%;
            }
        }
        background: $blueBgColor url("/assets/images/icons/footer_bg.png") no-repeat 100% 20px;
        background-size: contain;
        .nav-item {
            padding: 2% 0;
            display: flex;
            flex-direction: column;
            width: 80%;
                .nav-link {
                display: flex;
                flex-direction: column;
                color: $whiteFontColor;
                padding-left: 0;
                &:hover {
                    text-decoration: underline;
                }
            }
            &:first-child {
                font-weight: 700;
            }
            select {
                color: $whiteFontColor;
                background: none;
                margin-left: -4px;
                border: none;
            }
        }
        .socialIcon {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            ul {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-between;
                width: 40px;
                height: 80%;
                img {
                    width: 30px;
                    &:hover {
                        padding: 3px;
                    }
                }
            }
        }
    }
    .bottomFooter {
        background-color: $whiteBgColor;
        div:nth-child(2) {
            ul {
                li {
                    font-size: $secondaryFontSize;
                }
            }
        }
        div:nth-child(3) {
            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                li {
                    a {
                        font-size: $secondaryFontSize;
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    #scrollTop {
        position: fixed;
        bottom: 8rem;
        right: 1rem;
        cursor: pointer;
        border-radius: 50px;
        padding: 12px;
        background-color: $whiteBgColor;
        @include btnBoxShadow();
        img {
            width: 21px;
            margin-top: -4px;
        }
    }  
}