<app-header></app-header>
<main>
    <section>
        <h1>Frequently asked<br>questions</h1>
    <div class="col-sm-4 searchContainer">
            <form class="searchForm" action="">
            <div class="searchBox">               
                <input type="search" placeholder="search for a charity..." name="search">
                <button class="searchBtn" type="submit"><img class="searchIcon" src="./assets/img/icons/magnifying_lens.png"></button>
            </div>
        </form>
    </div>
    </section>

    <div class="faq">
    <div class="col-sm-4 searchContainer">
                <div class="dropdown" id="dropdown2">
                    <button href="#" class="d-flex justify-content-between align-items-center">Create a fundraiser <img src="./assets/img/icons/chevron_down.png"></button>
                </div>
    </div>
    <div class="col-sm-4 searchContainer">
        <div class="dropdown" id="dropdown2">
            <button href="#" class="d-flex justify-content-between align-items-center">Profile issues <img src="./assets/img/icons/chevron_down.png"></button>
        </div>
    </div>
    <div class="col-sm-4 searchContainer">
        <div class="dropdown" id="dropdown2">
            <button href="#" class="d-flex justify-content-between align-items-center">Create a fundraiser <img src="./assets/img/icons/chevron_down.png"></button>
        </div>
    </div>
    </div>
</main>
<app-footer></app-footer>